.column {
    margin-top: 1em;
}

#h4 {
    opacity: 1;
    color: white;
}

/* NAVIGATION */ 

.navbar-toggler {
    position: relative;
    left:-40px;
}

.top-bar {
    margin-top: -24px;
    opacity: 0.6;
    background-color: #f690bd;
    color: white;
}

.top-bar ul {
    background-color: #f690bd;
}

.readableLogo {
    width: 100px;
}

.menu li {
    padding-left: 1.3em;
    padding-right: 1.3em;
}

.menu-text h5 {
    display: inline-block;
    position: relative;
    top:20px;
}

#link1 {
    color: white;
    opacity: 1;
}

#link2 {
    color: white;
    opacity: 1;
}

#link3 {
    color: white;
    opacity: 1;
}

.avatar-img {
    margin: 20px !important;
    opacity: 1;
}
       

/* HOME PAGE */

#books {
    opacity: 1;
}

.btn {
    opacity: 1;
    color: white;
}

.input-group mb-3 { 
    width: auto;
}

/* Book Search Results */

.book-author {
    font-size: 0.7em;
    text-align: center;
}

.book-title {
    font-size: 1em;
    text-align: center;
}

.book-div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.read-btns {
    display:block;
    width:95%;
    margin-left: auto;
    margin-right: auto;
}

#books-read li, #books-reading li, #books-to-read li {
    width:60%;
    margin:auto;
}